[submodule "AutoChip"]
	path = AutoChip
	url = https://github.com/shailja-thakur/AutoChip.git
[submodule "Masala-CHAI"]
	path = Masala-CHAI
	url = https://github.com/jitendra-bhandari/Masala-CHAI
[submodule "VeriThoughts"]
	path = VeriThoughts
	url = https://github.com/wilyub/VeriThoughts
[submodule "Hybrid-NL2SVA"]
	path = Hybrid-NL2SVA
	url = https://github.com/FCHXWH823/RAG-aided-Assertion-Generation
[submodule "PrefixLLM"]
	path = PrefixLLM
	url = https://github.com/FCHXWH823/PrefixGPT
[submodule "LLM-Aided-Testbench-Generation-for-FSM"]
	path = LLM-Aided-Testbench-Generation-for-FSM
	url = https://github.com/jitendra-bhandari/LLM-Aided-Testbench-Generation-for-FSM.git
[submodule "c2hls"]
	path = c2hls
	url = https://github.com/Lucaz97/c2hlsc.git
	branch = main
[submodule "ROME"]
	path = ROME
	url = https://github.com/ajn313/ROME-LLM
	branch = main
[submodule "Veritas"]
	path = Veritas
	url = https://github.com/PrithwishBasuRoy/Veritas.git
	branch = main
[submodule "VeriContaminated"]
	path = VeriContaminated
	url = https://github.com/DfX-NYUAD/VeriContaminated
	branch = main
[submodule "LockForge"]
	path = LockForge
	url = https://github.com/codesanonymousgit-sudo/LockForge.git
	branch = main
[submodule "VeriDispatcher"]
	path = VeriDispatcher
	url = https://github.com/zwangsyc/VeriOracle.git
	branch = main
